#markup-panel {
  border: 1px solid var(--yt-spec-10-percent-layer);
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#markup-panel .markup-header {
  padding: 4px 2px 4px 16px;
  display: flex;
  align-items: center;
  background-color: var(--yt-spec-brand-background-primary);
}

#markup-panel .markup-header span {
  font-family: "YouTube Sans", "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  max-height: 2.8rem;
  color: var(--yt-spec-text-primary);
}

#markup-panel .markup-list {
  background-color: transparent;
}

#markup_input {
  display: block;
  border: none;
  height: 35px;
  width: 80%;
  border-bottom: 1px solid var(--ytd-searchbox-border-color);
  background-color: var(--ytd-searchbox-background);
  color: var(--ytd-searchbox-text-color);
  margin-top: 10px;
  margin-left: var(--ytd-margin-6x);
  padding-left: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid var(--ytd-searchbox-border-color);
  border-radius: 18px;
  line-height: 36px;
}
#markup_input:focus-visible {
  outline: none;
  border-color: var(--yt-spec-call-to-action);
  transition: 0.2s;
}
.markup-panel p {
  color: var(--yt-spec-text-primary);
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  /* border: 1px solid var(--yt-spec-10-percent-layer); */
  padding: 5px;
  border-radius: 5px;
}
.markup-row {
  color: var(--yt-spec-text-primary);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 4rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: 200ms all ease;
  cursor: pointer;
}

.markup-row:hover {
  background-color: var(--ytd-macro-markers-list-item-background-color, var(--yt-spec-badge-chip-background)) !important;
}

.markup-row .markup-context {
  display: flex;
  flex: 1.5;
}

.markup-row .markup-formatted {
  padding: 2px 6px;
  border-radius: 2px;
  transition: 200ms all ease;
}

.markup-row:hover .markup-formatted {
  color: var(--yt-spec-themed-blue);
  background-color: var(--yt-spec-suggested-action);
}

.markup-row .markup-remove {
  width: 24px;
  height: 24px;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.markup-row .markup-remove svg {
  fill: var(--yt-spec-text-primary);
}

.markup-row .markup-remove:hover {
  background-color: var(--yt-spec-10-percent-layer);
}

#markup-row-list {
  max-height: 300px;
  overflow: auto;
  text-align: center;
}

#markup-row-list i {
  color: var(--yt-spec-text-primary);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
}

/*
Markup Dialog
*/
.ytp-markup-wrapper {
  background: var(--paper-dialog-background-color, var(--primary-background-color));
  width: 450px;
  height: 225px;
  margin-top: -50px;
  margin-left: -50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 2202;
}
.ytp-markup-dialog-title {
  color: var(--yt-spec-text-primary);
  margin-bottom: var(--ytd-margin-base);
  padding: 0 var(--ytd-margin-6x) 0 var(--ytd-margin-6x);
  font-size: var(--ytd-subheadline-font-size);
  font-weight: var(--ytd-subheadline-font-weight);
  line-height: var(--ytd-subheadline-line-height);
  letter-spacing: var(--ytd-subheadline-letter-spacing);
  margin-top: 20px;
}

.ytp-markup-dialog-desc {
  color: var(--yt-spec-text-secondary);
  display: inline-block;
  font-size: var(--ytd-mini-attribution-font-size);
  font-weight: var(--ytd-mini-attribution-font-weight);
  line-height: var(--ytd-mini-attribution-line-height);
  padding: 0 var(--ytd-margin-6x) 0 var(--ytd-margin-6x);
}
.ytp-markup-dialog-button-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 8px;
  height: auto;
  gap: 8px;
  right: 0px;
  padding-right: 8px;
}

.ytp-markup-dialog-button-container button {
  border-radius: 18px;
  padding: 0 16px;
  height: 36px;
  border: 0px;
  background-color: transparent;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  min-width: 0;
  text-transform: none;
  line-height: 18px;
}
#cancel_markup {
  color: var(--yt-spec-text-primary);
}
#save_markup {
  color: var(--yt-spec-call-to-action);
}

#cancel_markup:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#save_markup:hover {
  background-color: rgba(62, 166, 255, 0.2);
}

.ytp-markup-dialog-desc .timestamp {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  color: var(--yt-spec-text-primary);
}
